header{
    height: 123px;
    background-color: rgb(41, 61, 163, 70%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Title_Block{
margin-right: 600px;
}
.Title{
    font-size: 64px;
    font-family: 'Irish Grover';
    color: #FFFFFF;
    transform: rotate(4deg);
    margin-top: 8px;
}
.Subtitle{
    font-size: 16px;
    font-family:'Irish Grover' ;
    color: #FF0000;
    padding-left: 40px;
    padding-top: 6px;
}
.Menu{
    font-family: 'Irish Grover';
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Menu_tag{
    padding-right: 41px;
    color: #FFFFFF;
    text-decoration: none;

}
.tag{
    background-color: #D9D9D9;
    width: 420px;
    height: 550px;
    margin-left: 60px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Tag_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 28px
}
.Info_tag{
    margin-left: 75px;
}
.img1{
    width: 260px;
    height: 260px;
    margin-top: 15px;
    border-radius: 10px;
}
.Title_Play_tag{
    font-size: 32px;
    font-family: 'Irish Grover';
    text-align: center;
    margin-bottom: 15px;
}
button{
     width: 235px;
     height: 77px;
     border-radius: 40px;
     border: none;
     background-color: #7878E6;
     font-family: 'Irish Grover';
}
.button_Play{
    color: white;
    font-size: 48px;
}
.Subtitle_Play_tag{
    font-size: 12px;
    color: #FF0000;
    font-family: 'Irish Grover';
    margin-top: 20px;
}
.button_Values{
    margin-top:111px;
    font-size: 36px;
    color: white;
}
.Subtitle_Values_tag{
    font-size: 13px;
    color: #FF0000;
    font-family: 'Irish Grover';
    margin-top: 20px;
}
.button_Info{
    margin-top:111px;
    font-size: 42px;
    color: white;
}
.Subtitle_Info_tag{
    font-size: 13px;
    color: #FF0000;
    font-family: 'Irish Grover';
    margin-top: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #FFFFFF; 
}